@model MyApiNight.WebUI.Dtos.UpdateCategoryDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateCategory</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-3">
        <form method="post">
            <input type="hidden" asp-for="CategoryId" />
            <input type="text" asp-for="CategoryName" class="form-control" placeholder="Kategori Adı" />
            <button type="submit" class="btn btn-outline-primary mt-2">Güncelle</button>
            <a class="btn btn-outline-danger mt-2" href="/Categories/CategoryList/">İptal</a>
        </form>
    </div>
</body>
</html>